// Default
$black: #262626;
$white: #ffffff;
$navy: #020420;
$text-gray: #b8b8b8;
$light-gray: #cccccc;
$main-color: #5fc081;
$sub-color: #2790a6;
$main-color-10: rgba(200, 92, 42, 0.1);
$sub-color-10: rgba(0, 188, 130, 0.1);
$white-10: rgba(255, 255, 255, 0.1);
$black-10: rgba(0, 0, 0, 0.1);
$gray: #5e5e5e;
$gradation-green: linear-gradient(
  96deg,
  #2790a6 3.37%,
  #3fa080 43.63%,
  #5fc081 100%
);

// colors
$blue: #4088f2;
$red: #f0143e;
$green: #f5b640;
$yellow: #f5b640;
$orange: #ff7a00;

// Background
$background: #f2f2f2;
$modal-bg: rgba(0, 0, 0, 0.5);
