// Default
$black: #222222;
$white: #ffffff;
$navy: #001f3f;
$text-gray: #b8b8b8;
$light-gray: #cccccc;
$main-color: #F2334B;
$sub-color: #CE3462;
$main-color-10: rgba(200, 92, 42, 0.1);
$sub-color-10: rgba(0, 188, 130, 0.1);
$white-10: rgba(255, 255, 255, 0.1);
$black-10: rgba(0, 0, 0, 0.1);

// colors
$blue: #4088f2;
$red: #f0143e;
$green: #F5B640;
$yellow: #F5B640;
$orange: #ff7a00;

// Background
$background: #f2f2f2;
$modal-bg: rgba(0, 0, 0, 0.5);
