// Default
$black: #333333;
$white: #ffffff;
$navy: #001f3f;
$text-gray: #8f8f8f;
$light-gray: #cccccc;
$main-color: #c85c2a;
$sub-color: #00bc82;
$main-color-10: rgba(200, 92, 42, 0.1);
$sub-color-10: rgba(0, 188, 130, 0.1);
$white-10: rgba(255, 255, 255, 0.1);
$black-10: rgba(0, 0, 0, 0.1);

// colors
$blue: #4088f2;
$red: #f0143e;
$green: #3ec99e;
$yellow: #ffb82f;
$orange: #ff7a00;

// Background
$background: #f2f2f2;
$modal-bg: rgba(0, 0, 0, 0.5);
