// このファイルは、pages/index.vueのスタイルを記載するページになっています。
.index-container {
  > .top-content {
    background-image: url('@/assets/images/bacground-images/bg-002.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 90px;
    position: relative;
    overflow: hidden;

    .pattern {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      z-index: 1;
    }

    .big-title {
      font-size: 8rem;
      line-height: 150%;
      position: relative;
      z-index: 5;
      color: $white;
      text-align: right;
      margin-top: 60px;
      margin-right: 100px;
    }
  }

  > .content {
    padding: 50px;
  }

  > .content > .title-gradation {
    background: $gradation-green;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section {
    padding: 20px;
    width: calc(50% - 50px);
    border-radius: 10px;
    background-color: $white;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);

    .ul {
      margin: 10px 0;
      list-style: none;
      li {
        margin-bottom: 10px;
        font-size: 1.6rem;
        font-weight: normal;
        color: $black;
      }
    }
  }
  .m-b-10 {
    margin-bottom: 10px;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  .m-10 {
    margin: 10px;
  }

  .m-20 {
    margin: 20px;
  }
}

main {
  padding: 0 !important;
}
